.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.nav-link {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.nav-btn-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.web-icon {
  max-width: 20px;
  border: 0;
}

.page-header {
  position: relative;
  padding-top: 1rem;
}

.page-header-tittle {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.page-header-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.rounded-pill {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.heading-cntxt {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #F7F7F7;
}

.heading-cntxt1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: black;
}

.h5-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-top: 1rem;
  color: #52558F;
}

.maxw {
  max-width: 250px;
}

.py-10 {
  padding-bottom: 2rem;
}

.card-0 {
  background-color: #FAFAFA;
  display: table;
  border: 0.5px;
  border-radius: 20px;
}

.brd{
  border: none;
  background-color: #FAFAFA;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 0 10px 0 10px;
}

hr{
  margin-top: 0;
}
