#navigation_bars{
  background-color: white;
}

.intro-section{
  margin-top: 2em;
}

.featurehead{
  margin: 1.5rem;
}



.divbyte{
  margin: 2rem 5rem 2rem 5rem;
  padding-top: 2rem;
}

.pbyte{
  margin-top: 2rem;
}
